@import "../styles/variables.scss";

.wrapper {
	margin: 2rem 0 0 0;
	padding: 2rem 0 0 0;
	justify-content: center;
	font-weight: 600;
	// background-color: rgb(37, 37, 37);
	font-size: 20px;
	bottom: 0;
	font-family: $font-logo;
	font-variant-ligatures: historical-ligatures;
}

.feedback {
	margin: 1rem 0 0 0;
	padding: 0 0 2rem 0;
	justify-content: center;
	font-weight: 600;
	color: $lightText;
	// background-color: rgb(37, 37, 37);
	font-size: 20px;
	bottom: 0;
}

.feedbackLink {
	color: $lightText;
	font-size: 17px;
}
