@import "../styles/variables";

.navbar {
  background-color: $background;
  top: -1px !important;
}

.navbarText {
  color: $white !important;
  margin-right: 6px;
}

.button {
   margin: 0 6px;
}
.buttonAdmin {
  margin: 0 6px;
  background-color: $primary;
  border-color: $primary;
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;

  color: $white !important;
  font-family: $font-logo;
	font-variant-ligatures: historical-ligatures;
}