@import "../../../styles/_variables.scss";

.row {
	margin: 10px 0;
}

.title {
	@include text-gradient();
	font-weight: 900;
}

.subtitle {
	text-align: center;
}

.allLinksWrapper {
	margin: 10px 0;
}

.linkWrapper {
	width: 150px;
	height: 160px;
	margin: 10px 10px;
}

.linkTitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0em;
	text-align: center;
	bottom: 71.74%;
}
