$background: #292929;
$white: #ffffff;

$text: #ffffff;
$lightText: #898989;
$buttonText: #000000;
$black: #000000;
$primary1: #9FDDFF, 100%;
$primary2: #774dd1 100.31%;
$whiteBackround: #ffffff;
$font-primary: Work Sans, Helvetica Neue, Helvetica, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
