// TODO
// this file should be global for some reason
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import "../styles/variables.scss";

.firebaseui-container {
	font-family: $font-primary !important;
	background-color: $background !important;
	margin-bottom: 15px;
	min-height: 150px;
	padding-top: 10px;
	border-radius: 40px !important;
	box-shadow: none !important;
}
.firebaseui-card-content {
	border-width: 10px;
	border-color: #fff !important;
}
.mdl-textfield--floating-label .mdl-textfield__label {
	color: #fff !important;
}
.firebaseui-textfield.mdl-textfield .firebaseui-input {
	border-color: #777777 !important;
}
.firebaseui-container.firebaseui-page-provider-sign-in {
	font-family: $font-primary;
	background: transparent;
	box-shadow: none;
	min-height: 0;
	margin-bottom: 0;
	padding-top: 0;
}

.firebaseui-container.firebaseui-id-page-callback {
	background: transparent;
	box-shadow: none;
	margin-top: 40px;
	height: 84px;
	min-height: 0;
	margin-bottom: 0;
	padding-top: 0;
}
.mdl-button.mdl-js-button.mdl-button--primary {
	color: primary1 !important;
}

.firebaseui-card-header {
	font-family: $font-primary;
	display: none;
}

.firebaseui-title {
	font-family: $font-primary;
}

.firebaseui-subtitle,
.firebaseui-text {
	font-family: $font-primary;
	color: rgba(255, 255, 255, 0.87) !important;
}

.firebaseui-button {
	border-radius: 10px !important;
	font-family: $font-primary !important;
	letter-spacing: 0.15em !important;
	font-weight: 600 !important;
}

.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
	background: $primary;
	color: $background;
}

.firebaseui-input {
	font-family: $font-primary;
	color: #fff !important;
}

.firebaseui-id-dismiss-info-bar {
	display: block;
}

.firebaseui-info-bar {
	border: 0;
	border-radius: 10px;
	left: 5%;
	right: 5%;
	top: 10%;
	bottom: 10%;
}
