@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import "../styles/variables.scss";
@import "~bootstrap/scss/bootstrap";

.btn {
	color: $background;
	font-weight: 600;
	border-radius: 4px;
	background-color: $primary1;
	border-color: $primary1;
}

.btn :hover {
	border-radius: 4px;
	color: $white;
	background-color: $background;
	border-color: $primary1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	letter-spacing: 0.05em;
}

html,
body {
	background-color: $background;
	color: $text;
	padding: 0;
	margin: 0;
	font-family: $font-primary;
	min-width: fit-content;

}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}
